<h3>
	区县信息
</h3>
<!-- START panel-->
<div class="panel panel-default cou_analysis" >
   <div class="panel-body">
   	<div class="row">
   		<div class="col-md-12" role="navigation">
   			<ul class="nav nav-tabs">
			  <li role="presentation" class="active"><a href="#">资金支付</a></li>			  
			  	<a ui-sref="app.county.county_1_2" class="btn btn-default" style="color: #1AACDA; margin-left: 20px;">返回</a>			  
			</ul>
   		</div>   		     	
   	</div>
   	
   	
   	<!-- START table-responsive-->
   <div class="" style="height: 520px; padding:20px; border: 1px solid #ddd; border-top: none;">
   		<div class="table-responsive" style="height: 450px; overflow: auto;">
	      <table class="table table-bordered table-hover table-striped">
	         <thead>
	            <tr>
	               <th>序号</th>
	               <th>站点编号</th>
	               <th>设备名称</th>
	               <th>监测值</th>
	               <th>运行日期</th>
	               <th>区域编号</th>
	               <th>运行日期</th>
	               <th>区域编号</th>              
	            </tr>
	         </thead>
	         <tbody>
	            <tr>
	               <td>1</td>
	               <td>
	                  NHFH6065
	               </td>
	               <td>流量计（累计流量）</td>
	               <td>31693</td>
	               <td>2018-03-20 12:00:00</td>
	               <td>001</td>
	               <td>2018-03-20 12:00:00</td>
	               <td>001</td>               
	            </tr>
	            <tr>
	               <td>2</td>
	               <td>
	                  NHFH6065
	               </td>
	               <td>流量计（累计流量）</td>
	               <td>31693</td>
	               <td>2018-03-20 12:00:00</td>
	               <td>001</td>
	               <td>2018-03-20 12:00:00</td>
	               <td>001</td>               
	            </tr>
	            <tr>
	               <td>3</td>
	               <td>
	                  NHFH6065
	               </td>
	               <td>流量计（累计流量）</td>
	               <td>31693</td>
	               <td>2018-03-20 12:00:00</td>
	               <td>001</td>
	               <td>2018-03-20 12:00:00</td>
	               <td>001</td>               
	            </tr>
	            <tr>
	               <td>4</td>
	               <td>
	                  NHFH6065
	               </td>
	               <td>流量计（累计流量）</td>
	               <td>31693</td>
	               <td>2018-03-20 12:00:00</td>
	               <td>001</td>
	               <td>2018-03-20 12:00:00</td>
	               <td>001</td>               
	            </tr>
	         </tbody>
	      </table>
	   </div>
	   
	   <div class="row">
	   	<div class="col-lg-6">
	   		
	   	</div>
	   	<div class="col-lg-3">
	   		共518条记录
	   		pageSize: 
	   		<select style="padding: 3px 10px;">
	   			<option value="250">250</option>
	   			<option value="150">150</option>
	   		</select>
	   	</div>
	   	<div class="col-lg-3">
	   		<nav>
			  <ul class="pagination pull-right" style="margin: 0;">
			    <li>
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li>
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
	   	</div>
	   	
   		
   	</div>
   </div>
   
   <!-- END table-responsive-->
   	
   	
   	
  	
   </div>
   
   
</div>
<!-- END panel-->





