		<div class="col-lg-6 col-sm-6">
			<div class="cou_img">
				<img src="app/img/500343882_wx.jpg"/>
			</div>
			<div class="cou_text_3">
				<div class="" style="padding-bottom: 10px;">
					<h5>xxxx村简介</h5>
					<p>
						xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
					</p>
				</div>
				<div class="">
					<h6>运维情况简介</h6>
					<p>
						xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-4 col-sm-6">
	      	<!-- START messages and activity-->
      <div class="panel panel-default">
         <!--<div class="panel-heading">
            
         </div>-->
         <div class="panel-body site_situation">
         	<div class="panel-title">站点情况</div> 
         	
         	<div class="row">
         		<div class="col-md-6">
         			<div class="media-box">
	                  <div class="pull-left">
	                     <span class="fa-stack">
	                        <em class="fa fa-circle fa-stack-2x text-purple"></em>
	                        <em class="fa fa-cloud-upload fa-stack-1x fa-inverse text-white"></em>
	                     </span>
	                  </div>
	                  <div class="media-box-body clearfix">
	                     <a ui-sref="app.county-analysis" class="btn btn-oval btn-default"> 运 行 记 录 </a>
	                  </div>
	               </div>
         		</div>
         		<div class="col-md-6">
         			<div class="media-box">
	                  <div class="pull-left">
	                     <span class="fa-stack">
	                        <em class="fa fa-circle fa-stack-2x text-success"></em>
                        	<em class="fa fa-clock-o fa-stack-1x fa-inverse text-white"></em>
	                     </span>
	                  </div>
	                  <div class="media-box-body clearfix">
	                     <a ui-sref="app.county-equipment" class="btn btn-oval btn-default"> 设 备 情 况 </a>
	                  </div>
	               </div>
         		</div>
         	</div>
         	
         	<div class="row">
         		<div class="col-md-6">
         			<div class="media-box">
	                  <div class="pull-left">
	                     <span class="fa-stack">
	                        <em class="fa fa-circle fa-stack-2x text-danger"></em>
                        	<em class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em>
	                     </span>
	                  </div>
	                  <div class="media-box-body clearfix">
	                     <a ui-sref="app.county-analysis" class="btn btn-oval btn-default"> 故 障 记 录 </a>	                     
	                  </div>
	               </div>
         		</div>
         		<div class="col-md-6">
         			<div class="media-box">
	                  <div class="pull-left">
	                     <span class="fa-stack">
	                        <em class="fa fa-circle fa-stack-2x text-warning"></em>
                        	<em class="fa fa-tasks fa-stack-1x fa-inverse text-white"></em>
	                     </span>
	                  </div>
	                  <div class="media-box-body clearfix">
	                     <a ui-sref="app.county-analysis" class="btn btn-oval btn-default"> 化 验 情 况 </a>
	                  </div>
	               </div>
         		</div>
         	</div>
         	
         	<div class="row">
         		<div class="col-md-6">
         			<div class="media-box">
	                  <div class="pull-left">
	                     <span class="fa-stack">
	                        <em class="fa fa-circle fa-stack-2x text-info"></em>
                        	<em class="fa fa-file-text-o fa-stack-1x fa-inverse text-white"></em>
	                     </span>
	                  </div>
	                  <div class="media-box-body clearfix">
	                     <a ui-sref="app.county-analysis" class="btn btn-oval btn-default"> 现 场 监 控 </a>
	                     
	                  </div>
	               </div>
         		</div>
         		<div class="col-md-6">
         			<div class="media-box">
	                  <div class="pull-left">
	                     <span class="fa-stack">
	                       	<em class="fa fa-circle fa-stack-2x text-danger"></em>
                        	<em class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em>
	                     </span>
	                  </div>
	                  <div class="media-box-body clearfix">
	                     <a ui-sref="app.county-analysis" class="btn btn-oval btn-default"> 监 控 图 片 </a>
	                  </div>
	               </div>
         		</div>
         	</div>
         	
         	<div class="row">
         		<div class="col-md-6">
         			<div class="media-box">
	                  <div class="pull-left">
	                     <span class="fa-stack">
	                        <em class="fa fa-circle fa-stack-2x text-purple"></em>
	                        <em class="fa fa-cloud-upload fa-stack-1x fa-inverse text-white"></em>
	                     </span>
	                  </div>
	                  <div class="media-box-body clearfix">
	                     <a ui-sref="app.county-analysis" class="btn btn-oval btn-default"> 巡 检 记 录 </a>
	                  </div>
	               </div>
         		</div>
         		<div class="col-md-6">
         			<div class="media-box">
	                  <div class="pull-left">
	                     <span class="fa-stack">
	                        <em class="fa fa-circle fa-stack-2x text-success"></em>
                        	<em class="fa fa-clock-o fa-stack-1x fa-inverse text-white"></em>
	                     </span>
	                  </div>
	                  <div class="media-box-body clearfix">
	                     <a ui-sref="app.county-analysis" class="btn btn-oval btn-default"> 分 析 报 告 </a>
	                  </div>
	               </div>
         		</div>
         	</div>
         	
         	
         </div>
         
         <!-- START panel footer-->
         <div class="panel-footer clearfix">
         	<div class="row">
         		<div class="col-md-6">
         			<table class="table table-bordered">
		         		<tr>
		         			<td class="cou_foot_1"> 水质达标率 </td>
		         			<td> 		         				
		         					80%
		         					<div class="progress progress-striped progress-xs">            			
						                <div role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-success progress-80">		                                 
						                </div>
						        	</div>		         				
		         			</td>
		         		</tr>
		         	</table>        	
         		</div>
         		<div class="col-md-6">
         			<table class="table table-bordered">
		         		<tr>
		         			<td class="cou_foot_1"> 水质达标率 </td>
		         			<td> 		         				
		         					80%
		         					<div class="progress progress-striped progress-xs">            			
						                <div role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-success progress-80">		                                 
						                </div>
						        	</div>		         				
		         			</td>
		         		</tr>
		         	</table>        	
         		</div>
         	</div>
         	
         </div>
         <!-- END panel-footer-->
      </div>
      <!-- END messages and activity-->
	      	
	      	
	      	
	        
	        <!-- START List group-->
			<ul class="list-group">
				<li class="list-group-item">
					<div class="row row-table pv-lg">
						<div class="col-xs-3">
							<p class="m0">1204</p>
							<p class="m0">
								<small>能耗统计</small>
							</p>
						</div>
						<div class="col-xs-6 text-center">
							<div sparkline="" data-bar-color="#23b7e5" data-height="60" data-bar-width="10" data-bar-spacing="6" data-chart-range-min="0" values="3,6,7,8,4,5"></div>
						</div>
						<div class="col-xs-3">
							<a href="" class="more btn btn-default"> 点击详情</a>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="row row-table pv-lg">
						<div class="col-xs-3">
							<p class="m0">$ 3,200.00</p>
							<p class="m0">
								<small>资金支付</small>
							</p>
						</div>
						<div class="col-xs-6 text-center">
							<div sparkline="" data-type="line" data-height="60" data-width="80%" data-line-width="2" data-line-color="#7266ba" data-chart-range-min="0" data-spot-color="#888" data-min-spot-color="{{colorByName('purple')}}" data-max-spot-color="{{colorByName('purple')}}" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="3" values="7,3,4,7,5,9,4,4,7,5,9,6,4" data-resize="true"></div>
						</div>
						<div class="col-xs-3">
							<a href="" class="more btn btn-default"> 点击详情</a>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="row row-table pv-lg">
						<div class="col-xs-3">
							<p class="m0">67</p>
							<p class="m0">
								<small>工作人员</small>
							</p>
						</div>
						<div class="col-xs-6">
							<ul class="list-inline text-center">
								<li>
									<a href="#" tooltip="Katie">
										<img src="app/img/user/02.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
									</a>
								</li>
								<li>
									<a href="#" tooltip="Cody">
										<img src="app/img/user/01.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
									</a>
								</li>
								<li>
									<a href="#" tooltip="Tamara">
										<img src="app/img/user/03.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
									</a>
								</li>
								<li>
									<a href="#" tooltip="Gene">
										<img src="app/img/user/04.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
									</a>
								</li>
								<li>
									<a href="#" tooltip="Marsha">
										<img src="app/img/user/04.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
									</a>
								</li>
								<li>
									<a href="#" tooltip="Robin">
										<img src="app/img/user/09.jpg" alt="Follower" class="img-responsive img-circle thumb24" />
									</a>
								</li>
							</ul>
						</div>
						<div class="col-xs-3">
							<a href="" class="more btn btn-default"> 点击详情</a>
						</div>
					</div>
				</li>
			</ul>	      				
			<!-- END List group-->
	        
      	</div>

