<h3>
	统计分析
</h3>

<div class="row mb-lg" ng-controller="countybarController">
	<div class="col-md-12">		
         <h4>能耗统计</h4>
         <div>
         	<canvas id="barChart2" width="400" height="100"></canvas>
         </div>      
	</div>
</div>

<!-- START panel-->
<div class="panel panel-default cou_analysis" >
   <div class="panel-body">
   	<div class="row">
   		<div class="col-md-12" role="navigation">
   			<ul class="nav nav-tabs">
			  <li role="presentation" class="active mr-lg"><a href="#">能耗列表</a></li>	
			  <select class="tab_select">
			  	<option value="">2018年</option>
			  	<option value="">2018年</option>
			  </select>
			  <select class="tab_select">
			  	<option value="">5月</option>
			  	<option value="">5月</option>
			  </select>
			  	<a ui-sref="app.county.county_1_1" class="btn btn-default pull-right" style="color: #1AACDA;">返回</a>			  
			</ul>
   		</div>   		     	
   	</div>
   	
   	
   	<!-- START table-responsive-->
   <div class="" style="height: 320px; padding:20px; border: 1px solid #ddd; border-top: none;">
   		<div class="table-responsive" style="height: 250px; overflow: auto;">
	      <table class="table table-bordered table-hover table-striped">
	         <thead>
	            <tr>
	               <th>序号</th>
	               <th>地域</th>
	               <th>时间</th>
	               <th>耗电量</th>
	               <th>操作</th>              
	            </tr>
	         </thead>
	         <tbody>
	            <tr>
	               <td>1</td>
	               <td>
	                  白峰街道
	               </td>
	               <td>2018-05</td>
	               <td>12345度</td>
	               <td>
	               	<a ui-sref="app.county-Energy2">查看更多</a>
	               </td>               
	            </tr>
	            	            
	         </tbody>
	      </table>
	   </div>
	   
	   <div class="row">	   	
	   	<div class="col-lg-6">
	   		共1条记录
	   		pageSize: 
	   		<select style="padding: 3px 10px;">
	   			<option value="250">250</option>
	   			<option value="150">150</option>
	   		</select>
	   	</div>
	   	<div class="col-lg-6">
	   		<nav>
			  <ul class="pagination pull-right" style="margin: 0;">
			    <li>
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li><a href="#">1</a></li>
		
			    <li>
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
	   	</div>
	   	
   		
   	</div>
   </div>
   
   <!-- END table-responsive-->
   	   	  	
   </div>     
</div>
<!-- END panel-->




