<h3>
	区县信息
</h3>
<!-- START panel-->
<div class="panel panel-default cou_analysis" >
   <div class="panel-body">
   	<div class="row">
   		<div class="col-md-12" role="navigation">
   			<ul class="nav nav-tabs">
			  <li role="presentation" class="active"><a href="#">设施列表</a></li>			  
			  	<a ng-click="back();" class="btn btn-default pull-right" style="color: #1AACDA;">返回</a>			  
			</ul>
   		</div>   		     	
   	</div>
   	
   	
   	<!-- START table-responsive-->
   <div class="" style="height: 510px; padding:10px; border: 1px solid #ddd; border-top: none;">
   		<div class="table-responsive" style="height: 450px; overflow: auto;">
	      <table class="table table-bordered table-hover table-striped">
	         <thead>
	            <tr>
	               <th>序号</th>
	               <th>设施名称</th>
	               <th>设施编码</th>
	               <th>所属地域</th>
	               <th>日均污水处理量（吨）</th>
	               <th>设施总功率（kw）</th>
	               <th>开始运维日期</th>
	               <th>是否带在线监测</th>  
	               <th>是否带远程控制</th>  
	               <th>详情</th>  
	            </tr>
	         </thead>
	         <tbody>
	            <tr ng-repeat="data in equip | range:currentPage:itemsPerPage">
	               <td>
	               	{{ $index + 1 }}
	               </td>
	               <td>
	                  {{ data.name }}
	               </td>
	               <td> {{data.facilityCode}} </td>
	               <td> {{data.administrativeVillage}} </td>
	               <td> {{data.dailyProcessing}} </td>
	               <td> {{data.totalPower}} </td>
	               <td>	{{data.maintenanceDate}} </td>
	               <td> 
	               		<span ng-if="data.onLineonitoring===1">
		               		是
		               	</span>
		               	<span ng-if="data.onLineonitoring===2">
		               		否
		               	</span>	               		
	               </td>  
	               <td> 
	               		<span ng-if="data.remoteMonitoring===1">
		               		是
		               	</span>
		               	<span ng-if="data.remoteMonitoring===2">
		               		否
		               	</span>	
	               </td> 
	               <td>
	               	<a ui-sref="app.county-equipment-detail({code:data.facilityCode})">查看更多</a>
	               </td> 
	            </tr>
	            
	            
	         </tbody>
	      </table>
	   </div>
	   
	   <pagination></pagination>
   </div>
   
   <!-- END table-responsive-->
   	
   	
   	
  	
   </div>
   
   
</div>
<!-- END panel-->





