<div class="panel panel-default">
	<div class="panel-heading">
		<div class="title clearfix">
			<div class="pull-left">
				瞬时流量与液位图示
			</div>			
			<div class="pull-right">
				<button type="button" class="mb-sm mr-lg btn btn-default">
					<i class="fa fa-cog text-info"></i>
					告警设置
				</button>
				<span>
					告警推送
					<label class="switch">
			            <input type="checkbox" ng-model="send" ng-init="send = true;" class="">
			            <span></span>
			         </label>
				</span>
			</div>
		</div>
		
	</div>
	
	<div collapse="panelChart4" class="panel-wrapper">
        <div class="panel-body">
            <flot dataset="flowData" options="flowOptions" height="200px"></flot>
        </div>
    </div>
</div>

<div class="">
	<!-- START panel-->
	<div class="panel panel-default" >
	   <div class="panel-body">
	   	<div class="row">
	   		<div class="col-md-12" role="navigation">
	   			<ul class="nav nav-tabs">
				  <li role="presentation" ng-class="{active:$state.current.name=='app.equipment.equipment_2_1.table_1'}"><a ui-sref="app.equipment.equipment_2_1.table_1">运行记录</a></li>			  
				  <li role="presentation" ng-class="{active:$state.current.name=='app.equipment.equipment_2_1.table_2'}"><a ui-sref="app.equipment.equipment_2_1.table_2">巡检记录</a></li>
				  <li role="presentation" ng-class="{active:$state.current.name=='app.equipment.equipment_2_1.table_3'}"><a ui-sref="app.equipment.equipment_2_1.table_3">故障记录</a></li>
				  
				  <div class="pull-right" style="width: 50%;">
				  	<div ng-controller="equipDateCtrl" class="row" >
				  	
			         
			             <div class="input-group pull-left" style="width: 46%;">
			                 <input type="text" class="form-control" uib-datepicker-popup="{{format}}" 
			                 		ng-model="dat" is-open="popup1.opened" ng-required="true" close-text="关闭"
			                        clear-text="清空" current-text="今天" alt-input-formats="altInputFormats" />
			                 <span class="input-group-btn">
			                     <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar"></i></button>
			                 </span>
			             </div>
			         
			         
			         <span class="pull-left text-center" style="width: 8%; line-height: 37px;">
			         	至
			         </span>
			         			         
			             <div class="input-group pull-right" style="width: 46%;">
			                 <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dat" is-open="popup2.opened" ng-required="true" close-text="关闭"
			                        clear-text="清空" current-text="今天" alt-input-formats="altInputFormats" />
			                 <span class="input-group-btn">
			                     <button type="button" class="btn btn-default" ng-click="open2()"><i class="fa fa-calendar"></i></button>
			                 </span>
			             </div>			         
			         
			     </div>
				  				  	
				  </div>
				  
				  					  	
				  
				  	
				  
				</ul>
	   		</div>  
	   		
	   	</div>
	   	
	   	
	   	<div ui-view="" autoscroll="false" class="" style="height: 300px; padding:10px; border: 1px solid #ddd; border-top: none;"></div>
	   	
	  	
	   </div>  
	</div>
	<!-- END panel-->
</div>






