@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	font-family: arial,"microsoft yahei";
	font-size: 14px;
	color: #555555;
}
ul,li{
	list-style: none;
}

body{
	/*background-color: #117391;*/
	/*background-color: #2b957a;*/
	background-image: url(../img/101166_banner.jpg);
	background-size: cover;
}
a:hover{
	text-decoration: none;
}

.text-red{
	color: #d62d2b;
}
.text-green{
	color: #00b589;
}
.c-checkbox *, .c-radio * {
    cursor: pointer;
}
.c-checkbox, .c-radio {
    margin-right: 4px;
}
.c-checkbox input, .c-radio input {
    opacity: 0;
    position: absolute;
    margin-left: 0 !important;
}
.c-checkbox span, .c-radio span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: -20px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #aaa;
    margin-right: 5px;
    text-align: center;
}
.c-checkbox:hover span, .c-radio:hover span {
    border-color: #5d9cec;
}
.c-checkbox input[type=checkbox]:checked + span, .c-radio input[type=checkbox]:checked + span, .c-checkbox input[type=radio]:checked + span, .c-radio input[type=radio]:checked + span {
    border-color: #5d9cec;
    background-color: #5d9cec;
}
.c-checkbox span:before, .c-radio span:before {
    margin-left: 0;
}
.c-checkbox input[type=checkbox]:checked + span:before, .c-radio input[type=checkbox]:checked + span:before, .c-checkbox input[type=radio]:checked + span:before, .c-radio input[type=radio]:checked + span:before {
    color: #fff;
    opacity: 1;
    transition: color 0.3s ease-out;
}
.c-checkbox span:before, .c-radio span:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    text-align: center !important;
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
}
.btn-green {
    color: #ffffff;
    background-color: #37bc9b;
    border-color: transparent;
}
.btn-green:hover, .btn-green:focus, .btn-green.focus, .btn-green:active, .btn-green.active, .open > .dropdown-toggle.btn-green {
    color: #ffffff;
    background-color: #32ac8e;
    border-color: rgba(0, 0, 0, 0);
}


.header_home{
	text-align: center;
	color: #FFFFFF;
	margin-top: 100px;
}
.header_home h1{
	text-shadow: 1px 1px 1px #122B40;
}

.content-wrapper{
	width: 800px;
	height: 320px;
	margin: auto;
	margin-top: 50px;
	/*background-color: rgba(255,255,255,0.8);*/
	background-image: url(../img/sewage_login.png);
	background-size: cover;
	overflow: hidden;
}


/*新闻*/
.news_content{
	width: 100%;
	padding: 5px 45px 25px 45px;
}
.news_content h3{
	padding-bottom: 20px;
}
#news {overflow:hidden; width:354px; height:200px;}  
.news_content ul li{
	overflow: hidden;
	line-height: 36px;
	border-bottom: 1px solid #AAAAAA;
}
.news_content .news_text{
	display: block;
	float: left;
	color: #555555;
	width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.news_content .news_date{
	float: right;	
	color: #888888;
}



/*登录*/
.login{
	width: 100%;
	padding: 10px 30px;
	
}
.login h3{
	padding-bottom: 25px;
}
.form-control-feedback {
    right: 0;
    left: auto;
    top: 10px;
}
.login .text-danger{
	font-size: 10px;
    position: absolute;
    top: 33px;
    left: 0px;
}

/*footer*/
.footer{
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 50px;
	width: 100%;
	background-color: rgba(0,0,0,0.2);
}
.footer p{
	text-align: center;
	color: #FFFFFF;
	line-height: 50px;
}
