<h3>
	区县信息
</h3>
<!-- START panel-->
<div class="panel panel-default cou_analysis" ng-controller="countyWorkerCtrl">
   <div class="panel-body">
   	<div class="row">
   		<div class="col-md-12" role="navigation">
   			<ul class="nav nav-tabs">
			  <li role="presentation" class="active mr-lg"><a href="#">工作人员</a></li>	
			  
			  <select class="tab_select">
			  	<option value="">白峰街道</option>
			  	<option value="">xxx乡镇（街道）</option>
			  </select>
			  <select class="tab_select" ng-model="search">	
			  	<option value="">显示所有</option>
			  	<option value="白峰村">白峰村</option>
			  	<option value="官庄村">官庄村</option>
			  	<option value="司沿村">司沿村</option>
			  	<option value="新峰村">新峰村</option>
			  	<option value="阳东村">阳东村</option>
			  	<option value="勤山村">勤山村</option>
			  	<option value="上阳村">上阳村</option>
			  	<option value="下阳村">下阳村</option>
			  	<option value="门浦村">门浦村</option>
			  	<option value="神马村">神马村</option>
			  	<option value="小门村">小门村</option>
			  </select>
			  	<a ui-sref="app.county.county_1_2_baifeng" class="btn btn-default pull-right" style="color: #1AACDA;">返回</a>			  
			</ul>
   		</div>   		     	
   	</div>
   	
   	
   	<!-- START table-responsive-->
   <div class="" style="height: 500px; padding:10px; border: 1px solid #ddd; border-top: none;">
   		<div class="table-responsive" style="height: 450px; overflow: auto;">
	      <table class="table table-bordered table-hover table-striped">
	         <thead>
	            <tr>
	               <th>序号</th>
	               <th>姓名</th>
	               <th>职称</th>
	               <th>手机</th>
	               <th>固话</th>
	               <th>所属区县（市）</th>
	               <th>所属乡镇（街道）</th>
	               <th>所属自然村</th>   
	               <th>备注</th>
	            </tr>
	         </thead>
	         <tbody>
	            <tr ng-repeat="data in workers|filter:search ">
	               <td>{{$index + 1}}</td>
	               <td>
	               	{{data.name}}
	                  
	               </td>
	               <td>{{data.work}}</td>
	               <td>{{data.mobile}}</td>
	               <td>{{data.phone}}</td>
	               <td>{{data.qu}}</td>
	               <td>{{data.xian}}</td>
	               <td>{{data.cun}}</td>  
	               <td>{{data.remark}}</td>
	            </tr>
	            
	            	            	            
	         </tbody>
	      </table>
	   </div>
	   
	   <div class="row">
	   	<div class="col-lg-6">
	   		共518条记录
	   		pageSize: 
	   		<select style="padding: 3px 10px;">
	   			<option value="250">250</option>
	   			<option value="150">150</option>
	   		</select>
	   	</div>
	   	<div class="col-lg-6">
	   		<nav>
			  <ul class="pagination pull-right" style="margin: 0;">
			    <li>
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li>
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
	   	</div>
	   	
   		
   	</div>
   </div>
   
   <!-- END table-responsive-->
   	
   	
   	
  	
   </div>
   
   
</div>
<!-- END panel-->





