
<!-- START table-responsive-->
		   <div class="" style="height: 320px;">
		   		<div class="table-responsive" style="height: 280px; overflow: auto;">
			      <table class="table table-bordered table-hover table-striped">
			         <thead>
			            <tr>
			               <th>序号</th>
			               <th>故障名称</th>
			               <th>发生故障设备</th>
			               <th>设备所在地</th>
			               <th>负责人</th>
			               <th>运维机构</th>
			               <th>状态更新时间</th>
			               <th>故障状态</th> 
			               <th>备注详情</th>
			               <th>操作</th>  
			            </tr>
			         </thead>
			         <tbody>
			            <tr>
			               <td>1</td>
			               <td>
			                  瞬时液位
			               </td>
			               <td>	污水提升泵</td>
			               <td>北仑区白峰街道官庄村</td>
			               <td>张三</td>
			               <td>上海水泵集团有限公司</td>
			               <td>2018-03-21</td>
			               <td>未解决</td>
			               <td>运维供应商已安排相关工作人员至现场维修</td>
			               <td>
			               	<a href="">查看更多</a>
			               </td>
            
			            </tr>
			            
			            
			         </tbody>
			      </table>
			   </div>
			   
			   <div class="row">
			   
			   	<div class="col-lg-6">
			   		共518条记录
			   		pageSize: 
			   		<select style="padding: 3px 10px;">
			   			<option value="250">250</option>
			   			<option value="150">150</option>
			   		</select>
			   	</div>
			   	<div class="col-lg-6">
			   		<nav>
					  <ul class="pagination pull-right" style="margin: 0;">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
			   	</div>
			   	
		   		
		   	</div>
		   </div>
		   
		   <!-- END table-responsive-->