
<!-- START table-responsive-->
		   <div class="" style="height: 450px;">
		   		<div class="table-responsive" style="height: 420px; overflow: auto;">
			      <table class="table table-bordered table-hover table-striped">
			         <thead>
			            <tr>
			               <th>序号</th>
			               <th>告警名称</th>
			               <th>告警设备</th>
			               <th>设备所在地</th>
			               <th>负责人</th>
			               <th>告警时间</th>
			               <th>操作</th>                
			            </tr>
			         </thead>
			         <tbody>
			         	<tr ng-repeat="data in warnHistoryData | range:currentPage:itemsPerPage">
							<td> {{data.id}} </td>
							<td>
								{{data.name}}
							</td>
							<td> 
								{{ data.equip }}
							</td>
							<td> {{ data.equip }} </td>	
							<td> {{ data.equip }} </td>	
							<td> {{ data.date }} </td>			
							<td>
								<a ui-sref="app.warning3">查看更多</a>
							</td>
		
						</tr>
			            
			            
			         </tbody>
			      </table>
			   </div>
			   
			   <pagination></pagination>
			   
		   </div>
		   
		   <!-- END table-responsive-->