
<!-- START table-responsive-->
		   <div class="" style="height: 320px;">
		   		<div class="table-responsive" style="height: 280px; overflow: auto;">
			      <table class="table table-bordered table-hover table-striped">
			         <thead>
			            <tr>
			               <th>序号</th>
			               <th>告警名称</th>
			               <th>告警设备</th>
			               <th>设备所在地</th>
			               <th>负责人</th>
			               <th>告警时间</th>
			               <th>操作</th>                
			            </tr>
			         </thead>
			         <tbody>
			            <tr>
			               <td>1</td>
			               <td>
			                  高液位报警
			               </td>
			               <td>	射流曝气机</td>
			               <td>北仑区白峰村司沿村</td>
			               <td>张三</td>
			               <td>2018-03-18 12:15:11</td>
			               <td>
			               	<a ui-sref="app.warning3">查看更多</a>
			               </td>
            
			            </tr>
			            
			         </tbody>
			      </table>
			   </div>
			   
			   <div class="row">
			   	
			   	<div class="col-lg-6">
			   		共1条记录
			   		pageSize: 
			   		<select style="padding: 3px 10px;">
			   			<option value="250">250</option>
			   			<option value="150">150</option>
			   		</select>
			   	</div>
			   	<div class="col-lg-6">
			   		<nav>
					  <ul class="pagination pull-right" style="margin: 0;">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li><a href="#">1</a></li>
					   
					    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
			   	</div>
			   	
		   		
		   	</div>
		   </div>
		   
		   <!-- END table-responsive-->