
<!-- START table-responsive-->
		   <div class="" style="height: 450px;">
		   		<div class="table-responsive" style="height: 420px; overflow: auto;">
			      <table class="table table-bordered table-hover table-striped">
			         <thead>
			            <tr>
			               <th>序号</th>
			               <th>告警名称</th>
			               <th>告警设备</th>
			               <th>设备所在地</th>
			               <th>负责人</th>
			               <th>告警时间</th>
			               <th>操作</th>        
			            </tr>
			         </thead>
			         <tbody>
			            <tr>
			               <td>1</td>
			               <td>
			                  高液位报警
			               </td>
			               <td>	射流曝气机</td>
			               <td>北仑区白峰街道官庄村</td>
			               <td>张三</td>
			               <td>2018-03-18 12:15:11</td>
			               <td>
			               	<a ui-sref="app.warning3">查看更多</a>
			               </td>
            
			            </tr>
			            <tr>
			               <td>2</td>
			               <td>
			                  高液位报警
			               </td>
			               <td>	污水提升泵</td>
			               <td>北仑区白峰街道白峰村</td>
			               <td>张三</td>
			               <td>2018-03-18 12:15:11</td>
			               <td>
			               	<a ui-sref="app.warning3">查看更多</a>
			               </td>
            
			            </tr>
			            
			         </tbody>
			      </table>
			   </div>
			   
			   <pagination></pagination>
			   
			   
		   </div>
		   
		   <!-- END table-responsive-->