<h3>
	统计分析
</h3>

<div class="row" ng-controller="waterQualityController3">
	<div class="col-md-12">
		<div class="panel">
		      <div class="panel-title" style="padding-left: 10px;padding-top: 10px; ">
		      	水质达标率
		      </div>
		      <div>
				<canvas id="lineChart" width="600" height="150"></canvas>
			</div>
	      
	   </div>
              
	</div>
</div>

<!-- START panel-->
<div class="panel panel-default cou_analysis" >
   <div class="panel-body">
   	<div class="row">
   		<div class="col-md-12" role="navigation">
   			<ul class="nav nav-tabs">
			  <li role="presentation" class="active"><a href="#">水质达标</a></li>		
			  	<select class="tab_select ml-lg">
			  		<option value="">2018年</option>
			  		<option value="">2017年</option>
			  	</select>
			  	<select class="tab_select">
			  		<option value="">5月</option>
			  		<option value="">4月</option>
			  	</select>
			  	<a ui-sref="app.county.county_1_2" class="btn btn-default pull-right" style="color: #1AACDA; ">返回</a>			  
			</ul>
   		</div>   		     	
   	</div>
   	
   	
   	<!-- START table-responsive-->
   <div class="" style="height: 300px; padding:10px; border: 1px solid #ddd; border-top: none;">
   		<div class="table-responsive" style="height: 250px; overflow: auto;">
	      <table class="table table-bordered table-hover table-striped">
	         <thead>
	            <tr>
	               <th>序号</th>
	               <th>地域</th>
	               <th>达标站点（个）</th>
	               <th>未达标站点（个）</th>
	               <th>达标率（%）</th>
	               <th>更新时间</th>
	               <th>操作</th>              
	            </tr>
	         </thead>
	         <tbody>
	            <tr>
	               <td>1</td>
	               <td>
	                  白峰村
	               </td>
	               <td>154</td>
	               <td>12</td>
	               <td>89</td>
	               <td>2018-05</td>
	               <td>
	               	<a ui-sref="app.water3">查看更多</a>
	               </td>               
	            </tr>	            	           	            
	         </tbody>
	      </table>
	   </div>
	   
	   <div class="row">
	   	<div class="col-lg-5">
	   		
	   	</div>
	   	<div class="col-lg-3">
	   		共1条记录
	   		pageSize: 
	   		<select style="padding: 3px 10px;">
	   			<option value="250">250</option>
	   			<option value="150">150</option>
	   		</select>
	   	</div>
	   	<div class="col-lg-4">
	   		<nav>
			  <ul class="pagination pull-right" style="margin: 0;">
			    <li>
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li><a href="#">1</a></li>
			
			    <li>
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
	   	</div>
	   	
   		
   	</div>
   </div>
   
   <!-- END table-responsive-->
   	
   	
   	
  	
   </div>
   
   
</div>
<!-- END panel-->




