<h3>
	区县信息
</h3>

<style type="text/css">
.equip_detail .row .col-md-3{
	padding: 0;
}
.table.table_borderless{
	border: none;	
}
.table.table_borderless td,.table.table_borderless th{
	border: none;
	font-size: 12px;
}
.table.table_borderless th{
	text-align: right;
	font-weight: normal;
}
.table.table_borderless td{
	color: #006699;
}
</style>
<div class="panel panel-default equip_detail">
	<div class="panel-body">
		<h5>北仑区白峰街道阳东村终端</h5>
		<div class="row">
			<ul>
				<li class="col-md-3">
					<table class="table table_borderless">
						<tr>
							<th>设施所在行政村</th>
							<td>阳东村</td>
						</tr>
						<tr>
							<th>设施所在自然村</th>
							<td>钟家湾2</td>
						</tr>
						<tr>	
							<th>设施编码</th>
							<td>330206010209-03-030-D2</td>
						</tr>
						<tr>	
							<th>行政村区划代码</th>
							<td>330206010209</td>
						</tr>
						<tr>	
							<th>经度E</th>
							<td>121.58.22</td>
						</tr>
						<tr>	
							<th>纬度N</th>
							<td>29.49.16</td>
						</tr>
						<tr>	
							<th>应接入户数（户）</th>
							<td>23</td>
						</tr>
						<tr>	
							<th>已接入户数（户）</th>
							<td>18</td>
						</tr>
						<tr>	
							<th>应受益人数</th>
							<td>58</td>
						</tr>
						<tr>	
							<th>已受益人数</th>
							<td>46</td>
						</tr>
					</table>
				</li>
				<li class="col-md-3">
					<table class="table table_borderless">
						<tr>
							<th>设计日处理量（吨）</th>
							<td>30</td>
						</tr>
						<tr>	
							<th>设施总功率（KW）</th>
							<td>1.5</td>
						</tr>
						<tr>	
							<th>带在线监测</th>
							<td>否</td>
						</tr>
						<tr>	
							<th>带远程监控</th>
							<td>否</td>
						</tr>
						<tr>	
							<th>处理工艺模式</th>
							<td>AAO+PKA</td>
						</tr>
						<tr>	
							<th>设计出水水质标准</th>
							<td>DB33/973-2015 二级</td>
						</tr>
						<tr>	
							<th>设施状态</th>
							<td>运维</td>
						</tr>
						<tr>	
							<th>竣工日期</th>
							<td> 2013/8/20</td>
						</tr>
						<tr>	
							<th>接收日期</th>
							<td>2013/8/20</td>
						</tr>
						<tr>	
							<th>运维日期</th>
							<td>2013/8/20</td>
						</tr>
					</table>
				</li>
				<li class="col-md-3">
					<table class="table table_borderless">
						<tr>
							<th style="width: 40%;">终端建设单位</th>
							<td> 白峰街道办事处</td>
						</tr>
						<tr>	
							<th>终端设计单位</th>
							<td> 浙江泰来环保科技有限公司</td>
						</tr>
						<tr>	
							<th>终端施工单位</th>
							<td> 恒建立盛建筑集团有限公司</td>
						</tr>
						<tr>	
							<th>终端监理单位</th>
							<td> 宁波海城工程监理有限公司</td>
						</tr>
					</table>
				</li>
				<li class="col-md-3">
					<table class="table table_borderless">
						<tr>
							<th>管网建设单位</th>
							<td>白峰街道办事处</td>
						</tr>
						<tr>	
							<th>管网设计单位</th>
							<td>浙江泰来环保科技有限公司</td>
						</tr>
						<tr>	
							<th>管网施工单位</th>
							<td>恒建立盛建筑集团有限公司 </td>
						</tr>
						<tr>	
							<th>管网长（m）</th>
							<td>1100</td>
						</tr>
						<tr>	
							<th>管网材质</th>
							<td>波纹管</td>
						</tr>
						<tr>	
							<th>主管网直径（mm）</th>
							<td>160</td>
						</tr>
					</table>
				</li>
				
			</ul>			
		</div>
	</div>
</div>



<!-- START panel-->
<div class="panel panel-default cou_analysis" >
   <div class="panel-body">
   	<div class="row">
   		<div class="col-md-12" role="navigation">
   			<ul class="nav nav-tabs">
			  <li role="presentation" class="active"><a href="#">设施列表</a></li>			  
			  	<a ui-sref="app.county.county_1_3_yangdong" class="btn btn-default pull-right" style="color: #1AACDA;">返回</a>			  
			</ul>
   		</div>   		     	
   	</div>
   	
   	
   	<!-- START table-responsive-->
   <div class="" style="height: 300px; padding:10px; border: 1px solid #ddd; border-top: none;">
   		<div class="table-responsive" style="height: 250px; overflow: auto;">
	      <table class="table table-bordered table-hover table-striped">
	         <thead>
	            <tr>
	               <th>序号</th>
	               <th>设备名称</th>
	               <th>设备型号</th>
	               <th>设备类型</th>
	               <th>生产厂家</th>
	               <th>出厂日期</th>
	               <th>安装日期</th>
	               <th>功率（KW）</th>  
	               <th>备注</th>  
	               <th>操作</th>  
	            </tr>
	         </thead>
	         <tbody>
	            <tr>
	               <td>1</td>
	               <td>
	                  射流曝气机
	               </td>
	               <td>ZN-SLB-D-15</td>
	               <td>机电</td>
	               <td>浏阳市振南环保设备科技有限公司</td>
	               <td></td>
	               <td></td>
	               <td>1.5</td>  
	               <td></td>
	               <td>
	               	<a ui-sref="app.equip_table_1">查看更多</a>
	               </td> 
	            </tr>
	            <tr>
	               <td>2</td>
	               <td>
	                  不锈钢户外电控箱
	               </td>
	               <td>650*450</td>
	               <td>机电</td>
	               <td>宁波坤川电气设备有限公司</td>
	               <td></td>
	               <td></td>
	               <td></td>  
	               <td></td>
	               <td>
	               	<a ui-sref="app.equip_table_1">查看更多</a>
	               </td> 
	            </tr>
	            <tr>
	               <td>3</td>
	               <td>
	                  污水提升泵
	               </td>
	               <td>WQ10-10-0.75</td>
	               <td>机电</td>
	               <td>上海水泵集团有限公司</td>
	               <td></td>
	               <td></td>
	               <td>0.75</td>  
	               <td></td>
	               <td>
	               	<a ui-sref="app.equip_table_1">查看更多</a>
	               </td> 
	            </tr>
	            
	            
	         </tbody>
	      </table>
	   </div>
	   
	   <div class="row">	   	
	   	<div class="col-lg-6">
	   		共518条记录
	   		pageSize: 
	   		<select style="padding: 3px 10px;">
	   			<option value="250">250</option>
	   			<option value="150">150</option>
	   		</select>
	   	</div>
	   	<div class="col-lg-6">
	   		<nav>
			  <ul class="pagination pull-right" style="margin: 0;">
			    <li>
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li>
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
	   	</div>
	   	
   		
   	</div>
   </div>
   
   <!-- END table-responsive-->
   	
   	
   	
  	
   </div>
   
   
</div>
<!-- END panel-->





