<h3>
	区县信息
</h3>
<!-- START panel-->
<div class="panel panel-default cou_analysis" >
   <div class="panel-body">
   	<div class="row">
   		<div class="col-md-12" role="navigation">
   			<ul class="nav nav-tabs">
			  <li role="presentation" class="active"><a href="#">设施列表</a></li>			  
			  	<a ui-sref="app.county.county_1_3_siyan" class="btn btn-default pull-right" style="color: #1AACDA;">返回</a>			  
			</ul>
   		</div>   		     	
   	</div>
   	
   	
   	<!-- START table-responsive-->
   <div class="" style="height: 500px; padding:10px; border: 1px solid #ddd; border-top: none;">
   		<div class="table-responsive" style="height: 450px; overflow: auto;">
	      <table class="table table-bordered table-hover table-striped">
	         <thead>
	            <tr>
	               <th>序号</th>
	               <th>设施名称</th>
	               <th>设施编码</th>
	               <th>所属地域</th>
	               <th>日均污水处理量（吨）</th>
	               <th>设施总功率（kw）</th>
	               <th>开始运维日期</th>
	               <th>是否带在线监测</th>  
	               <th>是否带远程控制</th>  
	               <th>详情</th>  
	            </tr>
	         </thead>
	         <tbody>
	            <tr>
	               <td>1</td>
	               <td>
	                  北仑区白峰街道司沿村终端
	               </td>
	               <td>330206010205-02-200-D2</td>
	               <td>司沿</td>
	               <td>200</td>
	               <td>12</td>
	               <td>2015/11/20</td>
	               <td>否</td>  
	               <td>否</td> 
	               <td>
	               	<a ui-sref="app.county-equipment-detail_siyan">查看更多</a>
	               </td> 
	            </tr>
	            <tr>
	               <td>1</td>
	               <td>
	                  北仑区白峰街道司沿村管网
	               </td>
	               <td>330206010205-01-000-00</td>
	               <td>司沿</td>
	               <td>0</td>
	               <td>0</td>
	               <td>2015/11/20</td>
	               <td>否</td>  
	               <td>否</td> 
	               <td>
	               	<a ui-sref="app.county-equipment-detail_siyan2">查看更多</a>
	               </td> 
	            </tr>
	            
	            
	         </tbody>
	      </table>
	   </div>
	   
	   <div class="row">	   	
	   	<div class="col-lg-6">
	   		共518条记录
	   		pageSize: 
	   		<select style="padding: 3px 10px;">
	   			<option value="250">250</option>
	   			<option value="150">150</option>
	   		</select>
	   	</div>
	   	<div class="col-lg-6">
	   		<nav>
			  <ul class="pagination pull-right" style="margin: 0;">
			    <li>
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li>
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
	   	</div>
	   	
   		
   	</div>
   </div>
   
   <!-- END table-responsive-->
   	
   	
   	
  	
   </div>
   
   
</div>
<!-- END panel-->





